{% extends 'trelloapp/base.html' %}

{% block title %} Add new Task {% endblock %}

{% block body %} 
<center>
    <h1>Add Tasks</h1> <br>
<form action="" method = 'POST'>
    {% csrf_token %}

    {{ Form.as_p }}

    <input type="submit" value="Submit">
</form>
<br>
<a href="{% url 'index' %}">  Task List</a> <br> <br>


{% if is_update %}

<a href="{% url 'deletetask' taskid %}" style="color: white; background-color: red; padding: 5px 10px; text-decoration: none;"> DELETE </a>

{% endif %}
</center>
{% endblock %}