{% extends 'trelloapp/base.html' %}

{% block title %} Tasks  {% endblock %}

{% block body %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Add event listener to the checkbox
        $('.is_done_checkbox').change(function() {
            // Send AJAX request when checkbox state changes
            var isChecked = $(this).is(':checked');
            // console.log(isChecked)
            var taskId = $(this).data('task-id');
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: 'POST',
                url: '{% url "check_uncheck" %}',
                headers: {'X-CSRFToken': csrftoken},
                data: {
                    'task_id': taskId,
                    'is_done': isChecked ? 'on' : ''
                },
                dataType: 'json',
                success: function(data) {
                    // Handle success response
                    console.log('Task status updated successfully');
                },
                error: function(xhr, status, error) {
                    // Handle error response
                    console.error('Error updating task status:', error);
                }
            });
        });
    });
</script>

<center>
<a href="{% url 'deletelist' id %}" style="color: white; background-color: red; padding: 5px 10px; text-decoration: none;"> DELETE </a>
<a href="{% url 'index' %}"> <h1>{{listname}}</h1> </a> <br>

{% for task in tasks %}
    <h2><input type="checkbox" id="is_done" class="is_done_checkbox" name="is_done" data-task-id="{{ task.id }}" {% if task.isDone %}checked{% endif %}> <a href="{% url 'updatetask' task.id%}"> {{task.name}} </a> </h2>
    <h3>{{task.description}}</h3>
    <h3>Priority: {{task.priority}}</h3>
    <h3> Due Date: {{task.due_date}}</h3> <br>
{% endfor %}

<a href="{% url 'addtasks' id%}">Add Task</a>
<center>

{% endblock %}